.DS_Store


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## Eclipse
/.classpath
/.buildpath
/.settings
/.project

# Android
/gen
/bin