{template 'common/header'}
{template 'user/user-header'}
<div class="search-box clearfix we7-margin-bottom">
	<form action="" class="search-form search-box" method="get">
		<input type="hidden" name="c" value="user">
		<input type="hidden" name="a" value="display">
		<input type="hidden" name="do" value="{$_GPC['do']}">
		<input type="hidden" name="type" value="{$_GPC['type']}">
		<select name="expire" class="we7-margin-right">
			<option value="0" data-url="{php echo filter_url('expire:0');}" {if $_GPC['expire'] == 0}selected="selected"{/if}>用户状态</option>
			<option value="1" data-url="{php echo filter_url('expire:1');}" {if $_GPC['expire'] == 1}selected="selected"{/if}>未到期</option>
			<option value="2" data-url="{php echo filter_url('expire:2');}" {if $_GPC['expire'] == 2}selected="selected"{/if}>已到期</option>
		</select>
		<select name="user_type" class="we7-margin-right">
			<option value="0" data-url="{php echo filter_url('user_type:0');}" >用户类型</option>
			<option value="1" data-url="{php echo filter_url('user_type:1');}" {if $_GPC['user_type'] == 1}selected="selected"{/if}>普通用户</option>
			<option value="3" data-url="{php echo filter_url('user_type:3');}" {if $_GPC['user_type'] == 3}selected="selected"{/if}>应用操作员</option>
		</select>
		<div class="search-form">
			<div class="input-group ">
				<input type="text" name="search" id="" value="{$_GPC['search']}" class="form-control"  placeholder="搜索用户名或手机号" />
				<span class="input-group-btn"><button class="btn btn-default"><i class="fa fa-search"></i></button></span>
			</div>
		</div>
		<!-- <label for="" class="col-sm-1 control-label" style="width: 50px;">用户组</label>
		<div class="input-controls col-sm-3">
			<select name="groupid" class="we7-select form-control">
				<option value="" selected="selected">不限</option>
				{loop $user_groups $group}
				<option value="{$group['id']}"{if $group['id'] == $_GPC['groupid']} selected="selected"{/if}>{$group['name']}</option>
				{/loop}
			</select>
		</div> -->
	</form>
	{if $_GPC['type'] == 'display' || $_GPC['type'] == ''}<a href="{url 'user/create/post'}" class="btn btn-primary">+添加用户</a>{/if}
</div>
<table class="table we7-table table-hover table-manage vertical-middle" id="js-users-display" ng-controller="UsersDisplay" ng-cloak>
	<col width="90px"/>
	<col width="150px">
	<col width="200px"/>
	<col width="130px"/>
	<col width=""/>
	<tr>
		<th></th>
		<th class="text-left">用户名</th>
		<th>注册时间</th>
		<th>到期时间</th>
		<th>类型</th>
		<th class="text-right">操作</th>
	</tr>
	<tr ng-repeat="user in users" ng-if="users">
		<td class="td-link">
			<a ng-href="{{links.edit}}uid={{user.uid}}">
				<img src="{{user.avatar}}" alt="" class="img-responsive icon"/>
			</a>
		</td>
		<td><span ng-bind="user.username"></span><br/><span ng-bind="user.mobile"></span></td>
		<td>
			<span ng-bind="user.joindate"></span>
		</td>
		<td>
			<span ng-bind="user.endtime"></span>
		</td>
		<td>
			<span ng-if="user.type == 1">普通用户</span>
			<span ng-if="user.type == 3">应用操作员</span>
		</td>
		<td class="vertical-middle table-manage-td">
			<div class="link-group" ng-if="!user.founder">
				<a ng-href="{{links.edit}}uid={{user.uid}}" ng-if="type == 'display' || type == 'clerk'">编辑</a>
				<a href="javascript:;" ng-click="operate(user.uid, 'recycle')" ng-if="type == 'display' || type == 'clerk'" data-toggle="tooltip" data-placement="left" data-container="body" title="禁用后可在用户回收站查找到并重新启用。">禁用</a>
				<a href="javascript:;" ng-click="operate(user.uid, 'check_pass')" ng-if="type == 'check'">通过</a>
				<a href="javascript:;" ng-click="operate(user.uid, 'recycle')" ng-if="type == 'check'" data-toggle="tooltip" data-container="body" data-placement="left" title="拒绝后可在用户回收站查找到并启用。">拒绝</a>
				<a href="javascript:;" ng-click="operate(user.uid, 'recycle_restore')" ng-if="type == 'recycle'">启用</a>
				<a href="javascript:;" ng-click="deleteUser(user.uid, 'recycle_delete')" class="del" ng-if="type == 'recycle'">删除</a>
			</div>
			<div class="manage-option text-right" ng-if="!user.founder && type != 'recycle' && type != 'check'">
				<a href="{{links.edit}}uid={{user.uid}}">基础信息</a>
				<a href="{{links.edit}}&do=edit_modules_tpl&uid={{user.uid}}">应用模板权限</a>
				<a href="{{links.edit}}&do=edit_create_account_list&uid={{user.uid}}">帐号创建权限</a>
				<a href="{{links.edit}}&do=edit_account_dateline&uid={{user.uid}}">帐号使用期限</a>
				<a href="{{links.edit}}&do=edit_account&uid={{user.uid}}">使用账号列表</a>
				<a href="{{links.edit}}&do=operators&uid={{user.uid}}">操作应用列表</a>
			</div>
		</td>
	</tr>
	<tr style="height: 52px;"></tr>
	<tr ng-if="!users">
		<td colspan="100" >
			<div class="we7-empty-block">暂无数据</div>	
		</td>
	</tr>
</table>

<div class="text-right pager-pagination-float">
	{$pager}
</div>
<span class="pager-total">共{php echo $total}个</span>

<script type="text/javascript">
	$(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});
	angular.module('userManageApp').value('config', {
		type: "{php echo !empty($_GPC['type']) ? $_GPC['type'] : 'display'}",
		users: {php echo !empty($users) ? json_encode($users) : 'null'},
		usergroups: {php echo !empty($usergroups) ? json_encode($usergroups) : 'null'},
		links: {
			link: "{php echo url('user/display/operate')}",
			edit: "{php echo url('user/edit')}",
		},
	});
	angular.bootstrap($('#js-users-display'), ['userManageApp']);
</script>
{template 'common/footer'}
