{template 'common/header-base'}
<div class="user-login system-forget">
	<div class="login-logo">
		<div class="container">
			<a href="{$_W['siteroot']}">
				<img src="{if !empty($_W['setting']['copyright']['blogo'])}{php echo tomedia($_W['setting']['copyright']['blogo'])}{else}./resource/images/logo/logo.png{/if}" class="logo">
			</a>
		</div>
	</div>
	<div class="login-header">
		<div class="container">
			<h3>找回密码</h3>
		</div>
	</div>
	<div class="login-content">
		<div class="we7-form" id="js-users-find-password" ng-controller="UsersFindMobilePwd" ng-cloak>
			<div class="steps">
				<div class="steps-item steps-status-finish">
					<div class="steps-line"><span>1.验证手机号</span></div>
				</div>
				<div class="steps-item steps-status-wait step-set-pwd">
					<div class="steps-line"><span>2.设置新密码</span></div>
				</div>
				<div class="steps-item steps-status-wait step-pwd-success">
					<div class="steps-line"><span>3.完成</span></div>
				</div>
			</div>
			<!--step: 1-->
			<form action="javascript:;" class="form login-form step-1">
				<div class="form-group" >
					<label class="control-label col-sm-1">手机号:</label>
					<div class="col-sm-11">
						<input type="text" class="form-control" placeholder="请输入手机号 " ng-model="mobile">
					</div>
				</div>
				<div class="form-group ">
					<label class="control-label col-sm-1">短信验证码:</label>
					<div class="col-sm-11">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="请输入短信验证码" ng-model="code">
							<a href="javascript:;" class="input-group-btn">
								<!--<button class="btn btn-primary">发送验证码</button>-->
								<input type="button" class="btn btn-primary send-code" ng-disabled="isDisable" ng-click="sendMessage()" value="{{text}}">
								<span class="js-timer"></span>
							</a>
						</div>
					</div>
				</div>
				<!-- <div>请输入您绑定的密保手机号</div>
				<div class="form-inline">
					<input type="text" class="form-control" ng-model="mobile">
					<input type="button" class="btn btn-primary send-code" ng-disabled="isDisable" ng-click="sendMessage()" value="{{text}}">
					<span class="js-timer"></span>
				</div>
				<div>输入手机短信验证码</div>
				<div class="form-inline"><input type="text" ng-model="code" class="form-control"></div> -->
				<div>
					<span class="btn btn-primary" ng-disabled="!isDisable" ng-click="nextStep()">下一步</span>
				</div>
			</form>
			<!--step: 2-->
			<form action="javascript:;" class="form login-form step-2 hide">
				<div class="form-group ">
					<label class="control-label col-sm-1">请设置密码:</label>
					<div class="col-sm-11">
						<div class="form-controls">
							<input type="password" class="form-control" ng-model="password">
							<span class="text-error password"></span>
						</div>
					</div>
				</div>
				<div class="form-group ">
					<label class="control-label col-sm-1">再次输入密码:</label>
					<div class="col-sm-11">
						<div class="form-controls">
							<input type="password" class="form-control" ng-model="repassword">
							<span class="text-error repassword"></span>
						</div>
					</div>
				</div>
				<!-- <div>请设置新密码</div>
				<div class="form-inline">
					<input type="password" class="form-control" ng-model = "password">
					<span class="text-error password"></span>
				</div>
				<div>再次输入新密码</div>
				<div class="form-inline">
					<input type="password" class="form-control" ng-model = "repassword">
					<span class="text-error repassword"></span>
				</div> -->
				<div>
					<span class="btn btn-primary" ng-click="prevStep()">上一步</span>
					<input type="submit" value="确定" ng-click="changePassword()" class="btn btn-primary">
				</div>
			</form>
			<!--step: 3-->
			<div class="step-3 text-center hide">
				<div><span class="wi wi-right-sign"></span></div>
				<div class="status">密码修改成功</div>
				<div>
					<a class="btn btn-primary" href="{url 'user/login'}">去登录</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	angular.module('userManageApp').value('config', {
		'find_password_sign' : "{php echo !empty($find_password_sign) ? $find_password_sign : 'null'}",
		'links' : {
			'valid_mobile_link': "{php echo url('user/find-password/valid_mobile')}",
			'set_password_link': "{php echo url('user/find-password/set_password')}",
			'send_code_link': "{php echo url('utility/verifycode/send_code')}",
		},
	});

	angular.bootstrap($('#js-users-find-password'), ['userManageApp']);
</script>
{template 'common/footer-base'}