{% extends "partials/base.html" %}

{% block title %}
    awesomecoffice | 地点
{% endblock %}

{% block content %}
  <div class="container mt20">
    {% include "partials/flash.html" %}
  </div>

  <div class="container mt40" style="margin-bottom: 100px">
    <div class="page-header mb20">
      <h1 class="mb10">所有地点<small>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp数据来自 <a href="https://github.com/ElaWorkshop/awesome-cn-cafe">ElaWorkshop/awesome-cn-cafe</a></small></h1>
    </div>

    <div class="datatable mb10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>城市</th>
            <th>名称</th>
            <th>下载速度</th>
            <th>参考价格</th>
            <th>提交者</th>
            <th>评论</th>
          </tr>
        </thead>
        <tbody>
          {% for spot in spots %}
            <tr>
              <td>{{ spot.id }}</td>
              <td>{{ spot.city }}</td>
              <td>{{ spot.name }}</td>
              <td>{{ spot.download_speed }}</td>
              <td>{{ spot.price_indication }}</td>
              <td>{{ spot.commit_user_name }}</td>
              <td>{{ spot.commit_message }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="card text-center" hidden>
      <h3 class="card-header">可视化 - 表格<small>     全部数据</small></h3>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

  </div>

{% endblock %}


{% block pagejs %}
  <script>

  </script>
{% endblock %}
