{template 'header'}
<div class="we7-page-title">应用列表</div>
<div class="search-box">
    <select name="" id="">
        <option value="">121</option>
    </select>
    <div class="search-form we7-margin-left">
        <div class="input-group" style="width: 400px;">
            <input type="text" name="module_name" class="form-control" placeholder=""/>
            <span class="input-group-btn"><button class="btn btn-default"><i class="fa fa-search color-primary"></i></button></span>
        </div>
    </div>
</div>
<div class="wish-goods-header">
    预购应用列表
</div>
<div class="wish-goods-list">
    <div class="wish-goods-item">
        <div class="wish-goods-box">
            <img src="" class="logo" alt="">
            <div class="info text-over">
                <div class="title text-over">u为台湾人u为台湾人u为台湾人</div>
                <div class="price">600元/月</div>
                <div class="support">
                    适用 <i class="wi wi-wxapp"></i>
                </div>
            </div>
            <a href="" class="link">详情 ></a>
        </div>
    </div>
</div>
{template 'common/footer'}