
<div id="js-article-comment-display" ng-controller="commentsCtr" class="ng-scope" ng-cloak>
	<div class="panel-body js-list">
		<div class="article-reply-item icon-selection" ng-repeat="comment in comment_list">
			<div class="media">
				<div class="media-left">
					<a href="javascript:;">
						<img class="media-object reply-logo user-avatar" src="{{comment.avatar || './resource/images/nopic-user.png'}}"/>
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading reply-people">{{comment.username}}</h4>
					<p class="reply-content">{{comment.content}}</p>
					<p class="reply-time">{{comment.createtime}}</p>
				</div>
				<!--<a href="javascript:;" ng-click="replyarticle(comment)"  ng-if="reply" class="color-default">回复</a>-->
				<div class="media-right" style="cursor: pointer">
					<i class="fa fa-thumbs-o-up" ng-click="likeComment(comment)"></i>
				</div>
				<div class="media-right" style="padding-left: 4px">
					<span class="comment-sum-like">{{comment.like_num}}</span>
				</div>
			</div>

			<div class="reply-list" ng-if="comment.replys">
				<div class="reply-item" ng-repeat="reply in comment.replys">
					<div class="reply-item-head">
						{{reply.username}}
					</div>
					<div class="reply-item-content">
						{{reply.content}}
					</div>
				</div>
			</div>
			<div class="reply-editor" ng-if="reply" ng-show="comment.replying">
				<div class="reply-editor-head">
					回复该评论
				</div>
				<div class="reply-editor-content">
					<textarea ng-model="comment.replycontent" cols="30" rows="10" class="form-control replaycontent" contenteditable></textarea>
				</div>
				<div class="reply-editor-action we7-margin-top">
					<button class="btn btn-primary" ng-click="send(comment)">发送</button>
					<button class="btn btn-default" ng-click="cancel(comment)">取消</button>
				</div>
			</div>
		</div>
	</div>
	<div class="text-right we7-padding js-pager" ng-show="pager!=''"></div>
</div>
	<script>
        angular.module('articleApp').value('config', {
            do: "{$do}",
            comment_status: "{$comment_status}",
            like_comment_url: "{php echo url('article/notice-show/like_comment')}",
            get_comments_url: "{php echo url('article/notice-show/more_comments', array('id' => $id, 'order' => $order))}",
            reply_url: "{php echo url('article/notice/reply_comment', array('id' => $id))}",
        });
        angular.bootstrap($('#js-article-comment-display'), ['articleApp']);
	</script>