.container{
    overflow: hidden;
    text-align: center;
}
scroll-view{
    width: 100%;
    height: 100%;
}
audio{
    z-index: 9;
    position: absolute;
    left: 50%;
    margin-left:-152px;
    bottom:10rpx;
}
